@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Outfit', sans-serif;
}

body {
  @apply bg-black text-gray-200 m-0 p-0 w-full;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black; /* Ensures the entire background is black */
}

@keyframes gradient-x {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}
.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 4s ease infinite;
}
